.sidebar {
	position: relative;

	@media screen and (width >= 1300px) {
		max-height: 100vh;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	gap: var(--spacing-8);
	height: 100%;
	padding: var(--spacing-8);

	@media screen and (width >= 1300px) {
		padding: var(--spacing-8) var(--spacing-8);
	}
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--spacing-6);
	font-size: var(--spacing-5);
	font-weight: 150;
	color: var(--color-white);
	text-shadow: 0 var(--spacing-1) var(--spacing-2) var(--color-black-translucent);

	@media screen and (width >= 1300px) {
		width: min-content;
		white-space: nowrap;
	}
}



.header {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-2);
	letter-spacing: var(--spacing-1);
	font-variation-settings: 'wdth' 120;

	h1 {
		font-size: var(--spacing-7);
		font-weight: 800;
	}

	span {
		font-size: var(--spacing-5);
		font-weight: 800;
	}
}

.contact {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-2);
}

.links {
	display: flex;
	gap: var(--spacing-5);

	a {
		display: flex;
		justify-content: center;
		padding: var(--spacing-2);
		border-radius: var(--spacing-2);
		box-shadow: 0 var(--spacing-1) var(--spacing-2) var(--color-black-translucent);
		background-color: var(--color-white);
		aspect-ratio: 1 / 1;
		transition: opacity 0.1s ease-in-out;

		&:hover {
			opacity: 0.5;
		}
	}

	svg {
		width: var(--spacing-6);
		height: var(--spacing-6);

		path {
			fill: var(--color-green-mid);
		}
	}
}

.polaroid-container {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: var(--container-5);

	/* actual aspect ratio of a square polaroid */
	aspect-ratio: 3.5 / 4.2;

	@media screen and (height <= 900px) and (width >= 1300px) {
		width: auto;
		max-width: 100%;
		height: 100%;
	}
}

.polaroid-paper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: min-content;
	border-radius: 2%;
	box-shadow: 0 var(--spacing-1) var(--spacing-2) var(--color-black-translucent);
	background-color: var(--color-white);
	rotate: 5deg;

	/* actual aspect ratio of a square polaroid */
	aspect-ratio: 3.5 / 4.2;

	@media screen and (width >= 1300px) {
		width: auto;
		max-width: 100%;
		height: 100%;
	}
}

.polaroid-image {
	position: relative;
	width: 90%;
	margin: 10%;
	border-radius: 1%;
	overflow: hidden;
	aspect-ratio: 1 / 1;

	img {
		position: absolute;
		width: 90%;
		height: 90%;
		border-radius: var(--spacing-1);
		filter: sepia(.2);
	}

	&::after {
		content: '';
		position: absolute;
		width: 90%;
		height: 90%;
		border-radius: var(--spacing-1);
		box-shadow: inset 0 var(--spacing-1) var(--spacing-1) var(--color-black-translucent);
	}
}

